* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
  height: 100%;
  background: url("../img/tg.png") no-repeat center center fixed;
}
/* CSS */
.button-36 {
    background-image: linear-gradient(180deg, #0180b1 9.16%, #006d8f 43.89%, #005070 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.button-36:hover {
    box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 30px 30px;
    transition-duration: .2s;
    background-image: linear-gradient(0deg, #0180b1 9.16%, #006d8f 43.89%, #005070 64.72%);
}
img{
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    border-radius: 10%;
}
h1,h2 {
  padding:0;
  margin:0 0 20px 0;
  font-weight: bold;
}
p {
  padding: 0;
  margin:0 0 20px 0;
}
a:link, a:visited {
  text-decoration: underline;
  color: #000;
}
a:hover {
  text-decoration: chartreuse;
}
a img:hover{
    opacity: .5;
}
textarea{
  min-height: 200px;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=tel], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=password], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: black;
}      
/* Headers */
h1 {
  font-size:1.8em;
}
h2 {
  font-size:1.4em;
}
.headertext{
    text-align: center;
    font-size: 2vw;
    text-shadow: 3px 3px 10px white, 3px 3px 10px white;
    font-family: Verdana, Helvetica, sans-serif;
}
.imgbox {
    display: grid;
    width: 100%
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
/* Containers */
.section-wrap {
    position: relative;
    width: 75%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(255,255,255, .95);
    border-radius: 20px;
    padding: 10px;
}
.content-wrap {
    width: 75%;
    margin: auto;
    background-color: transparent;
}
.section-wrap::after{
    content:"";
    clear: both;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}
.column{
    float: left;
    width: 50%;
    padding: 10px;
}
/*.column ::after{
    content: "";
}*/
.nav{
    position: fixed;
    left: 0;
    top:0;
    right: 0;
    bottom: auto;
}
#header{
    z-index:1000;
    position: fixed;
    width:80%;
    height: auto;
}
.topnav{
  /*background-color: lightcyan;*/
  /*background-image: url('../img/Image1.png'),url('../img/BGimg2.png');*/
  background-image: url('../img/bgimg2.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 17px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom: dotted black;
  width: 80%;
  margin: auto;
}
.topnav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
  background-image: linear-gradient(
      180deg, #0180b1 9.16%, #006d8f 43.89%, #005070 64.72%);
}
/* Change the color of links on hover */
.topnav a:hover {
background-image: linear-gradient(0deg, #0180b1 9.16%, #006d8f 43.89%, #005070 64.72%);
box-shadow: rgba(80, 63, 205, 0.5) 1px 1px 30px 30px;
transition-duration: .2s;
  color: lightgray;
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: blue;
  color: white;
}
.topnav img{
    height: 100px;
    padding: 0;
    margin: 0;
}
.centerup{
    padding: 10px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.bgNbtm{
    padding: 10px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
body {
    height: 100%;
    padding-top: 170px;
    margin: 0;
    min-height: 100%;
    font-family: Rotunda,sans-serif;
    color: #091c2b;
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: 300;
}
.bgimg{
    background-image: url('../img/BannerTop.png');
    background-position: 0 0,50% 100%;
    background-size: auto;
    background-repeat: repeat,no-repeat;
}

#container {
  text-align: center;
  height: 100%;
  min-height: 90vh;
  background-color: lightgray;
  width: 100vw;
  box-sizing: border-box;
}
.widget {
  margin-bottom: 20px;
}
.widget h2 {
  margin: 0 0 10px 0;
  padding: 0 15px;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
}
.widget .inner {
  margin: 0 10px;
}
.float_container{
    width: 95%;
    padding: 20px;
    overflow: hidden;
    height: auto;
    background-color: transparent;
}
.float_container img{
    width: 150px;
    margin-right: 15px;
    float: left;
}
.float_container p{
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
    padding: 1px;
    text-align: center;
    font-size: 15px;
    overflow: hidden;
}
/*Navigation*/
aside {
  padding-top: 15px;
  width: 25%;
  float: right;
  border-left: 1px dashed #aaa;
  padding-left: 15px;
}
login li.link {
  margin-top:5px;
}
/*Footer*/
footer{
  border-top: 1px dashed #ddd;
  position: relative;
  color: #999;
  bottom: 0;
  width: 100%;
  margin: auto;
  clear: both;
  
}

/*Misc*/
.clear {
  clear: both;
}
.photo{
  position: relative;
  text-align: center;
  color: white;
}
.top-left {
  position: absolute;
  top: 30%;
  color: black;
  font-family: sans-serif;
  font-size: 5.5vw;
  text-align: center; 
}
.floatleft{
    float: left;
}
.floatright{
    float: right;
}
.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.interior-page-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 3rem;
    line-height: 3.2rem;
    font-weight: 500;
    letter-spacing: -1px;
}
/* Dashed border */
hr.dashed {
    border-top: 3px dashed #bbb;
}

/* Dotted border */
hr.dotted {
    border-top: 3px dotted #bbb;
}

/* Solid border */

hr.solid {
    border-top: 3px solid #bbb;
}

/* Rounded border */
hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}

/*
**********************************************************************************
**********************************************************************************
**********************************************************************************
EVERYTHING BELOW THIS LINE WILL BE AFFECTED IF THE SCREEN IS BIGGER THAN 800px
**********************************************************************************
**********************************************************************************
**********************************************************************************
*/
.dropbtn {
    display: none;
}
@media(max-width: 900px){
.section-wrap{
    width: 95%;
}
.logo{
    height: 10%;
}
.column{
    width: 100%;
}
/*making the dropdown button*/
.dropbtn {
    top: 0;
    background-image: linear-gradient(180deg, #0180b1 9.16%, #006d8f 43.89%, #005070 64.72%);
    color: white;
    padding: 14px;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
.topnav{
    width: 100vw;
}
.button-36 {
    padding: 0 2.6rem;
}
}